<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User</title>
        <link rel="stylesheet" 
              type="text/css" 
              th:href="@{http://localhost:8080/UserWebMvc/css/user-info.css}" ></link> 

        <link rel="icon" type="image/x-icon" th:href="@{favicon.ico}"></link>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
        <!-- Optional theme -->
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}"></link>

    </head>  
    <body>

        <div class="container">
            <h1 th:text="${user.firstname}+' '+ ${user.lastname}"></h1>
            <hr>
                <dl class="list">

                    <dt>Login</dt>
                    <dd th:text="${user.login}"></dd>

                    <dt>Password</dt>
                    <dd th:text="${user.password}"></dd>

                    <dt>Email</dt>
                    <dd th:text="${user.email}"></dd>

                    <dt>Birthday</dt>
                    <dd th:text="${{user.birth}}"></dd>

                    <dt>Address</dt>
                    <dd th:text="${user.address}"></dd>   

                    <dt>About</dt>
                    <dd th:text="${user.about}"></dd>    
                </dl>
        </div>
        <div class="row">
            <div class="col-md-12">              
                <form th:action="@{'/users/delete/'+${user.id}}" th:object="${user}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <a th:href="@{'/users/edit/'+ ${user.id}}" class="editButton">EDIT</a>
                    <button type="delete">DELETE</button>
                    <a th:href="@{/users}" class="backButton">BACK</a>
                </form> 
            </div>
        </div>
    </body>
</html>